<!-- Contact Tab --> 

<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Contact
      </ion-title>
    </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-list-header>Contact</ion-list-header>
        <ion-item>
          <ion-icon name="ios-call" slot="start"></ion-icon>
          +358 45 6101 645
        </ion-item>
        <ion-item>
        <ion-icon name="ios-send" slot="start"></ion-icon>
        Kris@infinityhorizon.co.uk
      </ion-item>


      </ion-list>
      <div class="row">
        <!--linked in and facebook buttons-->
          <ion-button href="https://fi.linkedin.com/in/kristofer-mccormick-744261101">
                <ion-icon name="logo-linkedin"></ion-icon></ion-button>
          <ion-button href="https://www.facebook.com/">
                  <ion-icon name="logo-facebook"></ion-icon></ion-button></div>
                  
    </ion-content>
