<!-- Activities Tab --> 

<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Activities
      </ion-title>
    </ion-toolbar>
    </ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>

            <p class="center" style="font-size: 25px;" absolute-drag> 
            Learning<br>
            Technology<br>
            Acoustics<br>
            Music<br>
            Fishing<br>
            Golf<br>
            Billiards<br>
            Ice Hockey<br>
            Sauna<br>
            Socialising<br>
            New experiences<br> 
            Exploring places<br>
            New Cultures<br>
            Cuisine<br></p>

    </ion-card-content>
  </ion-card>

  
</ion-content>
