<!-- CV Tab --> 

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      CV
    </ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content>


      
          <ion-card>
              <ion-card-content>
          <ion-header class="center" style="font-size: 30px;" absolute-drag>
          <b>Studies:</b><br><br>
          </ion-header> 
          <p class="center" style="font-size: 25px;" absolute-drag>
          <b>Business Information Technology (BBA)</b> <br></p>
          <p class="center" style="font-size: 20px;" absolute-drag>
          Laurea University of applied sciences <br></p>
          <p class="center" style="font-size: 15px;" absolute-drag>
          2018 - Present<br>
          Python, C, C++, Software testing, Mobile App development, Web design, Service Design, Accounting, Finnish Language & much more.
          <br><br></p>

          <p class="center" style="font-size: 25px;" absolute-drag>
          <b>Music Production (BA Hons)</b> <br></p>
          <p class="center" style="font-size: 20px;" absolute-drag>
          Academy of Contemporary Music<br></p>
          <p class="center" style="font-size: 15px;" absolute-drag>
          2010 - 2013<br>
          Recording, Mixing, Mastering, Acoustics, Composition, Tools in digital Audio, Business Operations in the music industry & much more.
          <br><br></p>
              </ion-card-content>
          </ion-card><br><br>

          <ion-card>
              <ion-card-content>
          <ion-header class="center" style="font-size: 30px;" absolute-drag>
          <b>Employment:</b><br><br>
          </ion-header> 
          <p class="center" style="font-size: 25px;" absolute-drag>
          <b>Roudaamo Event Warehouse Oy</b> <br></p>
          <p class="center" style="font-size: 20px;" absolute-drag>
          Stage Hand<br></p>
          <p class="center" style="font-size: 15px;" absolute-drag>
          2015 - Present<br>
          Working closely with the road crew assisting with load in, building, show call, packing down and load out for a wide variety of events. Venues including many sold-out shows in stadiums, clubs, television studios and more.
          <br><br></p>

          <p class="center" style="font-size: 25px;" absolute-drag>
          <b>Kanneltalo / Malmitalo</b> <br></p>
          <p class="center" style="font-size: 20px;" absolute-drag>
          Sound engineer<br></p>
          <p class="center" style="font-size: 15px;" absolute-drag>
          2016 - 2017<br>
          Responsibilities varied on requirements defined by clients. Typically engineering, learning and driving theatre performances, engineering and mixing: big bands, bands, acoustic acts, conferences and a wide variety of entertainment from comedy to magic shows.
          <br><br></p>  
          </ion-card-content>
          </ion-card>
          
    

  </ion-content>