<!-- About Tab --> 
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list class="center">
  <ion-list-header>Kristofer Juhani McCormick (1803203)</ion-list-header>

</ion-list>
<ion-card>
  <ion-card-content>
    <!--My own picture-->
<img src="../assets/img/IMG_5890.jpg">
</ion-card-content>
</ion-card>
<ion-card>
    <ion-card-content>

<p class="center" style="font-size: 25px;" absolute-drag>
Hello and welcome to my CV App! </p>
</ion-card-content>
</ion-card>
<ion-card>
    <ion-card-content>
        <p style="font-size: 20px;" absolute-drag>
My name is Kristofer, I am 28 years old. 
Originally from southern England, 
I moved a few years ago to Finland in pursuit of career prospects and love for the nation. 
English and Finnish language I am both very comfortable with! <br><br>
I am currently studying my second degree, 
now at Laurea University of Applied Sciences. 
Currently, I am a year 2 student. 
My focus is now on more technical and hands on courses. 
I plan to study a masters degree in Acoustics and Software Design upon graduation. <br><br>

In my spare time, I like to do many things, 
though mainly learning and working with bands on their recordings!<br><br>

This app will give you a good insight into my most recent years<br>
I feel that this work would perfectly represent why I would make an excellent candidate for the junior Ionic App developer!<br><br>
Please do not hesitate to get in contact if you would like to know more!<br>
</p>
</ion-card-content>
</ion-card>
<!--Ionic image-->
      <img  src="../assets/icon/favicon.png" class="center">
      <br><br>

</ion-content>
