<!-- This is the registration page-->
<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
  <ion-card>
  <ion-card-content>
  <p class="center" style="font-size: 30px;" absolute-drag>
  <b>Thank you for Registering!</b><br><br></p>
  <p class="center" style="font-size: 25px;" absolute-drag>
  Your Email is: abc@abc.com<br>
  Your password is: 123<br><br>
  Welcome!<br></p>
</ion-card-content>
</ion-card>
  </ion-content>
    
